body {
    background-image: url('https://i.pinimg.com/736x/6f/cd/d1/6fcdd1d34f3a86815e3e8505bcb1753b.jpg');
    background-repeat: no-repeat;
    background-size: 1877px 933px /*a imagem fica meio esticada pq a imagem original nao é desse tamanho */
}

h1 {
    background-color: white;
}
