body {
    background-image: url('imagens/wallpaper006.jpg');
}


div.quadrado {
    display: inline-block; /*deixa um do ladinho do outro*/
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: pink;
}

div#q1 {
    background-color: skyblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, pink,purple);
}

div#q3 {
    background-image: url('imagens/pattern003.png');
}